<%= image_tag ( "driver_edit.png" ), class: "minicon pull-left" %>
<h1 class="pull-left">Modificar conductor</h1>
<br class="cb">
<%= render 'form' %>

<%= link_to 'Show', @movie, class: "btn btn-default" %> |
<%= link_to 'Back', movies_path, class: "btn btn-warning" %>
