<%= image_tag ( "driver.png" ), class: "minicon pull-left" %>

<h1 class="pull-left">Nuevo conductor</h1>
<br style="clear:both;">

<%= render 'form' %>

<%= link_to 'Back', movies_path, class: "btn btn-warning" %>
