<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag ( "driver_rating.png" ), class: "minicon pull-left" %>
	<h1 class="pull-left">Evaluación</h1>

	<%= render 'form' %>

	<%= link_to 'Back', movie_path(@movie), class: "btn btn-warning" %>

  </div>
</div>
